body {
    font-family: 'Roboto', sans-serif;
    background-color: wheat;
    
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.row {
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
}