
.footer {width: 100%;
    max-width: 1200px;

    background-color: chocolate;

}



.footer__border{
    
   
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 10px;
    text-align: center;
    
    
}

.footer__contact{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    list-style: none;

    
}

@media screen and (min-width: 768px){
    .footer__contact{display: flex;
}}

.footer__mail {
    // margin: 0 auto;
    display: flex;
    text-decoration: none;
    color: white;
    opacity: 80%;
    margin-right: auto;


&:hover,
&:focus{color: brown;
    stroke: brown;
    transition-duration: 250ms;
   }

//media screen tablet//
@media screen and (min-width: 768px){
.footer {
    padding-top:60px;
    padding-bottom: 60px;
    
}
}



// @media screen and (min-width: 1200px) {
//     .footer__border {margin-left: 0;text-align: left;
//     }
//         .footer__item {
//             padding: 0px 0px 10px;
//         }
// }

}
